server:
  port: 8080

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:mysql://localhost:3305/auth_db?createDatabaseIfNotExist=true
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:123456}
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:123456}

graylog:
  host: 127.0.0.1
  port: 12201

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${instanceId:${random.value}}
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,loggers,logfile
  endpoint:
    health:
      show-details: when_authorized
    env:
      enabled: false
    configprops:
      enabled: false
    heapdump:
      enabled: false
    shutdown:
      enabled: false
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  file:
    name: logs/${spring.application.name}.log

app:
  jwt:
    secret: ${SECRET_KEY}
    expiration-ms: ${EXPIRATION_TIME_MS:3600000} # 1 saat
    refresh-expiration-ms: ${REFRESH_EXPIRATION_TIME_MS:86400000} # 1 gï¿½n