spring:
  application:
    name: api-gateway
  main:
    web-application-type: reactive
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://localhost:8080
          predicates:
            - Path=/api/auth/**

server:
  port: 9010

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    instance-id: ${spring.application.name}:${instanceId:${random.value}}
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus,loggers,logfile
  endpoint:
    health:
      show-details: when_authorized
    env:
      enabled: false
    configprops:
      enabled: false
    heapdump:
      enabled: false
    shutdown:
      enabled: false
  metrics:
    export:
      prometheus:
        enabled: true

logging:
  file:
    name: logs/${spring.application.name}.log

loadbalancer:
  strategy: round_robin